:root {
  --vermelho: #e50914;
  --preto: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--preto);
  font-family: "Times New Roman", Times, serif;
}

header .container {
}

header .Logo {
  color: var(--vermelho);
  font-family: "arial Black", Times;
  font-size: 40px;
}
header .nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}
